---
pageable: true
per_page: 5
---
<% if paginate && num_pages > 1 %>
    <span class="float-right">Page <%= page_number %> of <%= num_pages %></span>
<% end %>

<h1 class="monospace">Blog posts</h1>

<div class="blog-post-list">
    <% page_articles.each_with_index do |article, i| %>
        <div class="blog-summary more-vertical-space">
            <h4><%= link_to article.title, article %> <small><%= article.date.strftime('%e %b %Y') %></small></h4>
            <!-- use article.summary(250) if you have Nokogiri available to show just the first 250 characters -->
            <%= article.summary(250).gsub(/<\/?[^>]*>/, "") %>
        </div>
    <% end %>
</div>

<% if paginate && num_pages > 1 %>
        <%= link_to 'Previous', prev_page, :class => 'button' + if prev_page then '' else ' disabled' end %>
        <%= link_to 'Next', next_page, :class => 'button float-right' + if next_page then '' else ' disabled' end %>
<% end %>
